html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #9BC3CC;
}

h1, h2, h3, h4, h5, h6, a, p {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 8px;
    border: none;
}

* {
    box-sizing: border-box;
}

button {
    border-radius: 8px;
    padding: 12px 8px;
    border: none;
}